.table{
    margin-top: 16px;
    overflow: scroll;
    height: 400px;
    width: 100%;

    tr{
        width: 100%;
        display: flex;
        justify-content: space-between;

        &:nth-child(odd){
            background: lightblue;
        }
    }

    td{
        padding: 8px 12px;
    }
}