.table {
    margin-top: 16px;
    padding: 0;
    overflow: hidden;
    height: 400px;
    width: 100%;
    border: 1px solid blue;

    tr {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &:nth-child(odd) {
            background: lightblue;
        }
    }

    td {
        padding: 8px 12px;
    }
}