* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  padding: 16px 20px;
}

.app {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgba(red, .3);
  }

  &__hero {
    width: calc(100% + 20px);
    padding: 50px;
    margin-left: -20px;

    border: 1px solid rgba(black, .3);
  }

  &__container {
    display: flex;
    justify-content: space-evenly;

    @media (max-width:990px) {
      flex-direction: column;
    }
  }

  &__mainbar {
    flex: 0 0 60%;
    border: 1px solid rgba(orangered, .3);

    h3{
      flex: 0 0 100%;
    }
  }

  &__sidebar {
    flex: 0 0 40%;
    border: 1px solid rgba(blue, .3);
  }

  &__stats {
    padding: 16px 0;
    display: flex;
    flex-basis: 33.33%;
  }
}