* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #35393e;
  padding: 16px 20px;
  color: #7a7d80;
}

h1,
h2 {
  color: #fff;
}

.leaflet-popup-content{
  h2{
   color: #35393e;
   margin-bottom: 6px;
  }
  h4{
    font-size: 15px;
  }
}


p {
  color: #7a7d80;
}

.MuiContainer-root{
  padding: 16px 8px 0 !important;
}

.MuiPaper,
.MuiFormControl {
  &-root {
    background: #35393e !important;
    border-radius: 6px !important;
  }

  &-elevation1 {
    transition: all .2s;
    box-shadow: 8px 8px 16px #2d3035, -8px -8px 16px #3d4247 !important;
  }
}